@font-face {
  font-family: Monsterrat;
  src: url(../fonts/Montserrat-ExtraBold.woff2),
    url(../fonts/Montserrat-ExtraBold.woff);
  font-weight: 800;
}

@font-face {
  font-family: Monsterrat;
  src: url(../fonts/Montserrat-Medium.woff2),
    url(../fonts/Montserrat-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: Monsterrat;
  src: url(../fonts/Montserrat-Regular.woff2),
    url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: Monsterrat;
  src: url(../fonts/Montserrat-SemiBold.woff2),
    url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: Monsterrat, sans-serif;
}

:root {
  --sygnal-orange: #f90;
  --sandy-brown: #ffb84d;
  --orange-chocolate: #e1670e;
  --white: #fff;
  --light-grey: #cacaca;
  --dull-grey: #666;
  --dar-slate-grey: #414141;
  --black: #000;
}

:active, :hover, :focus {
  outline: 0;
  outline-color: transparent;
  outline-offset: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
    max-width: 3690px;
    padding: 0 75px;
    margin: 0 auto;
    width: 100%;
}

.second-title {
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
}

.third-title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
}

.paragraph {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
  color: var(--black);
}

.btn {
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 16px;
  background: #f90;
  color: var(--white);
}

.header {
  padding: 14px 0;
  border-radius: 0px 0px 32px 32px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-between; */
}

.header__logo {
  max-width: 225px;
  max-height: 72px;
  margin-right: auto;
}

.header__nav {
  margin-right: 85px;
}

.header .nav__list {
  gap: 85px;
}

.header .nav__item {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
}

.header .nav__link {
  position: relative;
  outline-offset: 5px;
  outline: 2px solid white;
  -webkit-transition: outline .3s ease-in-out;
  -o-transition: outline .3s ease-in-out;
  transition: outline .3s ease-in-out;
}

.header .nav__link:focus {
  outline: 2px solid var(--sygnal-orange);
  /* transition: outline .2s ease-in-out; */
}

.header .nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6.5px;
  width: 0;
  height: 2px;
  background-color: var(--sygnal-orange);
  -webkit-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.header .nav__link:hover::before {
  width: 100%;
}

.header .nav__link:active {
  outline: none;
  color: var(--orange-chocolate);
}

.header .nav__link:active::before {
  background-color: var(--orange-chocolate);
  width: 100%;
}

.nav__button rect{
  fill:var(--black);
}

.nav__button path{
  stroke: var(--black);
}

.nav__button:focus{
  outline-offset: 5px;
  outline: 2px solid var(--sygnal-orange);
  -webkit-transition: outline .2s ease-in-out;
  -o-transition: outline .2s ease-in-out;
  transition: outline .2s ease-in-out;
}

.nav__button:hover rect{
  fill:var(--sygnal-orange);
  -webkit-transition: fill .2s ease-in-out;
  -o-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out;
}

.nav__button:hover path{
  stroke:var(--sygnal-orange);
  -webkit-transition: stroke .2s ease-in-out;
  -o-transition: stroke .2s ease-in-out;
  transition: stroke .2s ease-in-out;
}

.nav__button:active{
  outline: none;
}

.nav__button:active rect{
  fill: var(--black);
  -webkit-transition: fill .2s ease-in-out;
  -o-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out;
}

.nav__button:active path{
  stroke: var(--black);
  -webkit-transition: stroke .2s ease-in-out;
  -o-transition: stroke .2s ease-in-out;
  transition: stroke .2s ease-in-out;
}


/* .header .nav__link:active::after{
  background-color: var(--orange-chocolate);
  opacity: 1;
} */


.hero__contant {
  margin-bottom: 50px;
  padding-top: 104px;
  padding-left: 80px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--white);
}

.hero__descr {
  width: 790px;
  margin-bottom: 87px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  letter-spacing: 0.25px;
}

.hero__btn {
  margin-bottom: 100px;
  padding: 24px 41px;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}


.hero__btn:focus{
  background-color: var(--sandy-brown);
}

.hero__btn:hover{
  background-color: var(--sandy-brown);
}

.hero__btn:active{
  background-color: var(--orange-chocolate);
}

.about-up {
  margin-bottom: 50px;
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  max-width: 1235px;
}

.about-down {
  --gap: 32px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
  margin-bottom: 100px;
}

.about-left-side {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  -webkit-box-align: end;
      -ms-flex-align: end;
        align-items: flex-end;
  border-radius: 32px;
  background-image: url(../img/about-img-worker.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-right-side {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.about-left-side__down-img {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-left-side__descr {
  max-width: 433px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 200% */
  color: var(--white);
}

.about-left-side__btn {
  padding: 19px 38px;
  font-size: 16px;
  border-radius: 16px;
  border: 3px solid var(--sygnal-orange);
  background-color: transparent;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.about-left-side__btn:focus{
  background-color: var(--sygnal-orange);
}

.about-left-side__btn:hover{
  background-color: var(--sygnal-orange);
}

.about-left-side__btn:active{
  border: 3px solid var(--orange-chocolate);
  background-color: var(--orange-chocolate);
}

.about-right-side__title {
  margin-bottom: 6px;
}

.about-right-side__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
}

.about-right-side__list-item {
  padding: 65px 0;
  padding-left: 34%;
  padding-right: 14%;
  border-radius: 32px;
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
  background-position: left 9% top 50%;
  background-size: 190px 165px;
}

/* .about-right-side__title,
.about-right-side__descr{
  max-width: 274px;
} */

.about-right-side__list-item-1 {
  background-image: url(../img/about-first-svg.svg);
}

.about-right-side__list-item-2 {
  background-image: url(../img/about-second-svg.svg);
}

.steps__title {
  margin-bottom: 32px;
}

.steps-container {
  width: 100%;
  min-height: 460px;
  margin-bottom: 100px;
  --gap: 173px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.steps-right-side {
  width: calc(59% - var(--gap));
  border-radius: 32px;
  background-image: url(../img/steps-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.steps-left-side {
  max-width: calc(41%);
}

.steps-left-side__title {
  margin-bottom: 8px;
  /* margin-right: 142px; */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
  letter-spacing: 0.2px;
  color: var(--black);
}

.steps-left-side__descr {
  margin-bottom: 21px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
  color: var(--black);
}

.steps-left-side__button {
  padding: 19px 38px;
  font-size: 16px;
  margin-right: 29px;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.steps-left-side__button:focus{
  background-color: var(--sandy-brown);
}

.steps-left-side__button:hover{
  background-color: var(--sandy-brown);
}

.steps-left-side__button:active{
  background-color: var(--orange-chocolate);
}

.steps-left-side__button-transparent {
  font-weight: 400;
  border: 1px solid #000;
  background-color: transparent;
  color: var(--black);
}

.steps-left-side__button-transparent:focus{
  color: var(--white);
  background-color: var(--dull-grey);
}

.steps-left-side__button-transparent:hover{
  color: var(--white);
  background-color: var(--dull-grey);
}

.steps-left-side__button-transparent:active{
  color: var(--white);
  background-color: var(--black);
}

.questions__title {
  margin-bottom: 32px;
}

.questions__list {
  --gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
  /* margin-bottom: 100px; */
}

.questions__list-item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 65px;
  padding-left: 60px;
  border-radius: 32px;
  border: 1px solid #cacaca;
  background: #fff;
}

.questions__list-title {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}

.questions {
  margin-bottom: 100px;
}

.footer {
  padding: 50px 0;
  background-color: var(--black);
}

.footer-left {
  width: 34%;
}

.footer-middle {
  width: 45.5%;
}

.footer-right{
  width: 19%;
}

.footer__logo {
  max-width: 224px;
  max-height: 72px;
  margin-bottom: 17px;
}

.footer .nav__list {
  margin-bottom: 90px;
}

.footer .nav__item {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 200% */
}

.footer .nav__link{
  color: var(--light-grey);
  -webkit-transition: color .3s ease-in-out, outline .3s ease-in-out;
  -o-transition: color .3s ease-in-out, outline .3s ease-in-out;
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.footer .nav__link:focus{
  outline: 2px solid var(--sygnal-orange) ;
  outline-offset: 5px;
}

.footer .nav__link:hover{
  color:var(--sygnal-orange);
}

.footer .nav__link:active{
  outline: none;
  color: var(--orange-chocolate);
}

.footer__link svg {
  fill: var(--dull-grey);
  -webkit-transition: fill .2s ease-in-out;
  -o-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out;
}

.footer__link:focus svg{
  outline-offset: 5px;
  outline: 2px solid var(--sygnal-orange);
  -webkit-transition: outline .3s ease-in-out;
  -o-transition: outline .3s ease-in-out;
  transition: outline .3s ease-in-out;
}

.footer__link:hover svg{
  fill: var(--sygnal-orange);
}

.footer__link:active svg{
  outline: none;
  fill: var(--orange-chocolate);
}

.footer__link:not(:last-child) {
  margin-right: 25px;
}

.footer__title {
  margin-bottom: 25px;
  color: var(--light-grey);
}

.footer-form-up {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin-bottom: 32px;
}

.footer__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  width: 71%;
  height: 60px;
  padding-left: 24px;
  border-radius: 16px;
  color: var(--white);
  background-color: var(--dar-slate-grey);
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.footer__input-message {
  height: 147px;
  width: 71%;
  padding-top: 18px;
  resize: none;
}

.footer__input:focus {
  background-color: var(--dull-grey);
}

.footer__input:hover{
  background-color: var(--dull-grey);
}

.footer__input:active{
  background-color: var(--dull-grey);
}

.footer-form-bottom {
  width: 71%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}

.form__checkbox {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
  color: var(--light-grey);
}

.form__checkbox-input{
  -webkit-transition: outline .2s ease-in-out;
  -o-transition: outline .2s ease-in-out;
  transition: outline .2s ease-in-out;
}

.form__checkbox-input:focus + .form__checkbox-text::before{
  outline: 1px solid var(--sygnal-orange);
  outline-offset: 3px;
}

.form__checkbox-input{
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox-text{
  position: relative;
  padding-left: 18px;
}

.form__checkbox-text::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid var(--light-grey);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__checkbox-text::after{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.form__checkbox-input:checked + .form__checkbox-text::after{
  opacity: 1;
}

.footer-right {
  width: 20.5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-right__desr {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
  color: var(--light-grey);
}

.footer__btn {
  padding: 19px 52px;
  white-space: nowrap;
  font-size: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.footer__btn:focus{
  background-color: var(--sandy-brown);
}

.footer__btn:hover{
  background-color: var(--sandy-brown);
}

.footer__btn:active{
  background-color: var(--orange-chocolate);
}
